html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: capitalize;
    /* font-family: serif; */
    /* text-align: center; */
}

#root {
    min-height: 100vh;
}

button:active {
    scale: 0.95;
}